<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="file:../../node_modules/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="file:../../node_modules/vue-material/dist/theme/black-green-dark.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <style>
      .heading-item {
        text-align: center;
      }

      .archived-project {
        opacity: 0.6;
      }

      .md-content.new-project {
        margin: 30px;
      }

      .md-app-toolbar {
        position: absolute;
        top: 0;
        z-index: 9999;
      }

      .md-app-scroller {
        margin-top: 50px;
      }
    </style>
  </head>
  <body>
    <app></app>
  </body>

  <script>
    import Vue from 'vue';
    import VueMaterial from 'vue-material';
    import VueElectron from 'vue-electron';
    import App from './component/app';

    // Load global components
    Vue.use(VueMaterial)
    Vue.use(VueElectron);

    new Vue(App).$mount('app');

    let prevOffset = 0;
    let offset = 0;
    let navbar = null;

    setInterval(() => {
      if (!navbar) {
        navbar = document.querySelector('.md-app-toolbar');
      }

      if (prevOffset !== offset) {
        navbar.style.display = 'none';
      } else {
        navbar.style.top = `${ offset }px`;
        navbar.style.display = 'initial';
      }

      prevOffset = offset;
    }, 40);

    window.onscroll = () => {
      offset = window.pageYOffset;
    };
  </script>
</html>
