<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="file:../../node_modules/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="file:../../node_modules/vue-material/dist/theme/black-green-dark.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/icon?family=Material+Icons">

    <style>
      .heading-item {
        text-align: center;
      }

      .side-menu {
        width: 180px;
      }

      .side-menu .md-list-item-text {
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <app></app>
  </body>

  <script>
  import Vue from 'vue';
  import VueMaterial from 'vue-material';
  import VueElectron from 'vue-electron';
  import Report from './component/report';

  // Load global components
  Vue.use(VueMaterial)
  Vue.use(VueElectron);

  new Vue(Report).$mount('app');
  </script>
</html>
